---
import Section from "../Section.astro"
---

<Section title="">
  <p>
    This page's design is based on
    <a href="https://www.youtube.com/c/midudev" target="_blank">@midudev</a>'s
    template
  </p>
</Section>

<style>
  p {
    padding-top: 2rem;
    border-top: #d6d6d6 1px solid;
  }
  a {
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    transition: all 150ms;
    &:hover {
      color: #111;
    }
  }
</style>
